{#
Inclusion d'une vue manuellement via le module twig_tweak
https://git.drupalcode.org/project/twig_tweak/-/blob/3.x/docs/views.md
#}

{# Liste des liens contenus dans une fiche BTS -
Vérifie si la vue a des résultats avant de l'afficher
Renseigner le nom de la vue et l'affichage désiré (noms machines)
#}
{% set view = drupal_view_result('espace_entreprise_2022', 'block_1') | length %}
{% if view > 0 %}
  {{ drupal_view('espace_entreprise_2022', 'block_1') }}
{% endif %}

{% set view = drupal_view_result('espace_entreprise_2022', 'block_2') | length %}
{% if view > 0 %}
  {{ drupal_view('espace_entreprise_2022', 'block_2') }}
{% endif %}

{% set view = drupal_view_result('espace_entreprise_2022', 'block_3') | length %}
{% if view > 0 %}
  {{ drupal_view('espace_entreprise_2022', 'block_3') }}
{% endif %}

{% set view = drupal_view_result('espace_entreprise_2022', 'block_5') | length %}
{% if view > 0 %}
  {{ drupal_view('espace_entreprise_2022', 'block_5') }}
{% endif %}