{#
Inclusion d'une vue manuellement via le module twig_tweak
https://git.drupalcode.org/project/twig_tweak/-/blob/3.x/docs/views.md
#}

{# Liste des liens contenus dans une fiche BTS -
Vérifie si la vue a des résultats avant de l'afficher
Renseigner le nom de la vue et l'affichage désiré (noms machines)
drupal_view('espace_partenaire_2022', 'block_1') }}
Utiliser drupal_block('views_block:view_machine_name-view_display_id')
pour afficher le titre du bloc issu d'une vue.
#}
{% set view = drupal_view_result('espace_partenaire_2022', 'block_1') | length %}
{% if view > 0 %}
  <aside class="espace-partenaire">
    {{ drupal_block('views_block:espace_partenaire_2022-block_1') }}
  </aside>
{% endif %}

{% set view = drupal_view_result('espace_partenaire_2022', 'block_2') | length %}
{% if view > 0 %}
  <aside class="espace-partenaire">
    {{ drupal_block('views_block:espace_partenaire_2022-block_2') }}
  </aside>
{% endif %}

{% set view = drupal_view_result('espace_partenaire_2022', 'block_3') | length %}
{% if view > 0 %}
  <aside class="espace-partenaire">
    {{ drupal_block('views_block:espace_partenaire_2022-block_3') }}
  </aside>
{% endif %}