// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|             PAGE ESPACE                   |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-page-espace{order:1;}
    #zone-2.type-page-espace{order:2;}
    #zone-3.type-page-espace{order:3;}
    #zone-4.type-page-espace{}
    #zone-5.type-page-espace{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-page-espace{
  #illustration-pleinepage {
    //Pour marge au dessus illustration voir _layout-nodes
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;
    position: relative;

    img {
      transform: translate(0%,0%);
      @include adaptable-img();
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      min-height: 25vw;
      max-height: 30vw;

      img {
        transform: translate(0%,-6%);
      }
      // Position différente de l'image selon le nid.Classe ajoutée via TPL
      &.illustration-nid-XX{
        @include breakpoint(($desktop,$desktopwide)) {
          img {
            transform: translate(0%,-37%);
          }
        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 25vw;
            max-height: 40vw;
            img{
                transform: translate(0%,-35%);
            }
        }
      }
      &.illustration-nid-XX{ //Page rubrique lycée
        @include breakpoint(($desktop,$desktopwide)) {
          img {
            transform: translate(0%,-31%);
          }
        }
        @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
            min-height: 25vw;
            max-height: 40vw;
            img{
                transform: translate(0%,-20%);
            }
        }
      }
    }
  }
}// Fin ILLUSTRATION
#node-855{
    #zone-illustration.page-espace{
          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){

        img{
            transform: translate(0%,-28%);
        }
    }
    }
}
aside.selecteur-langue{
    ul{
        padding: 0;
        li{
            a{
                padding: 0 0 0 em(10px);
            }
        }
    }
    @include breakpoint ($tablet){}
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tabletlandscape)){
        ul{
            column-count: 2;
            column-rule: 0; //Séparation entre colonne

            li{
                max-width: 100%;
            }
        }
    }
}
aside.contenu-rubrique{
    padding:span(0.2) 0;
    margin:0;
    ul{
    margin:0;

    }
    li{
        display: table;
        margin: 0 0 span(0.2) 0;
        padding: span(0.2) 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            min-width: 95%;
        }
        img{
            /*float: left;*/
        }
    }
    .rubrique-lycees,.rubrique-association,.rubrique-international{
        column-count: 0;
        li{
            a{
                display: flex;
            }
        }
        @include breakpoint (($tablet,$mobilelandscape)){
            column-count: 1;
             li{
                @include  txt-colonnes();

                    span{
                        text-decoration: none;

                            /*max-width: span(1);*/
                            max-width: 30%;//correction
                            padding: 0 0 0 em(4px);
                            &.ville{
                            max-width: 50%;//correction
                            }

                    }
             }
        }
        @include breakpoint(($desktop,$desktopwide,$tabletlandscape)){
            column-count: 2;
            column-fill: balance;
            white-space: normal;
            padding: span(0.1);
            li{
                @include  txt-colonnes();
                    span{
                        text-decoration: none;
                        @include breakpoint(($tablet,$tabletlandscape)){
                            /*max-width: span(1);*/
                            max-width: 30%;//correction
                            padding: 0 0 0 em(4px);
                            &.ville{
                            max-width: 50%;//correction
                            }
                        }
                        @include breakpoint(($desktop,$mobilelandscape-galaxyShd)){
                            /*max-width: 7vw;*/
                            max-width: 29%;//correction
                            &.ville{
                            max-width: 75%;//correction
                            }

                        }
                        @include breakpoint($desktopwide){
                            /*max-width: 10vw;*/
                            max-width: 30%;//correction
                            padding: 0 0 0 span(0.01);
                            &.ville{
                            max-width: 85%;//correction
                            }
                        }

                    }
                a{
                    display: flex;
                }
            }
        }
    }
    .rubrique-international{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
               white-space: unset;
        }
    }
}
aside.nav-espace-entreprise,aside.nav-espace-partenaire{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            column-count: 4;
            column-fill: balance;
            white-space: normal;
            padding: span(0.1);
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }
        img{
          @include adaptable-img();
          //object-fit: contain;
        }
}
.espace-accueillir-jeune,.espace-devenir-partenaire,.espace-taxe-apprentissage,.espace-vie-lycees{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            float: left;
            min-width: 25%;
            max-width: 25%;
            padding: span(0.1);
        }
        ul{
            li{
                a{
                    @include txt-cesure;
                    @include txt-ellipse;
                }
            }
        }

} // Fin .espace-accueillir-jeune,.espace-devenir-partenaire,.espace-taxe-apprentissage,.espace-vie-lycees
.part-institutionnels{
    ul{
        li{
            list-style: none;
            margin: span(0.2) auto;
            padding: 0;
        }
    }
    /*Affichage en colonne des contenus*/
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){

        ul{
            column-count: 6;
            column-fill: balance;


            white-space: normal;
            padding: span(0.1);
            display: block;
            @include clearfixsusy3;
            @include hack-Firefox;//inclus le li{}
            li{
                @include txt-cesure;
                @include txt-colonnes;//évite cassure au milieu d'un élément pour FF et autres navigateurs

                @include hack-Edge;
                @include hack-IE;
                margin: 0;
                padding: 0;

                a{
                    clear: left;
                    display: block;
                }
            }
        }
    }
} // Fin part-institutionnels

/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-illustration.type-page-espace{
    h1.titre_overlay{
        @include titre_overlay();
    }
}


#zone-1.type-page-espace,
#zone-2.type-page-espace,
#zone-3.type-page-espace,
#zone-4.type-page-espace,
#zone-5.type-page-espace
{
    p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    u{
        font-weight: bold;
        color: $bleu-turquoise;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $bleu-turquoise;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $violet;
    }
    a{
        text-decoration: none;
        color: $bleu-turquoise;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
        color: $vert;
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
  $typedecontenu: type-page-espace, type-contenu-international ;
  $zones: zone-1, zone-2 ;
  @each $zone in $zones {
    @each $type in $typedecontenu {
      ##{$zone}.#{$type} {
    aside.selecteur-langue{
        ul{
            list-style: none;
            background: $gris-anthracite;
            li{

                &.fr{
                    @include backgroundImage("SVG/flag-france.svg");
                    background-size: cover;
                    background-position: 0 40%;
                }
                &.en{

                    @include backgroundImage("SVG/union-jack.svg");
                    background-size: cover;
                    background-position: 0 75%;
                    &:hover{
                        opacity: 0.5;
                    }
                }
                &:hover{

                }
                &.active{
                    font-weight: bold;
                    /*background: $gris-anthracite;*/

                    a{

                        &.active{
                            color: $blanc-casse;
                        }
                    }

                }
                a{
                    color:$jaune;

                }
            }
        }

        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        }
    }
    aside.contenu-rubrique{
        .rubrique-lycees{
            ul{
                //Classes dynamiques attribuées par NiD de chaque contenus
                li{
                    &.nid-5{
                        background: $rouge;
                    }
                    &.nid-8{
                        background: $vert;
                    }
                    &.nid-10{
                        background: $violet;
                    }
                    &.nid-6{
                        background: $rose-fushia;
                    }
                    &.nid-9{
                        background: $gris-clair-moyen;
                    }
                    &.nid-11{
                        background: $bleu-turquoise;
                    }
                    &.nid-2{
                        background: $orange;
                    }
                }

                //Style général des éléments
                li{
                    list-style: none;
                    background: $orange-fonce;
                    @include txt-cesure();

                    a{
                        color: $blanc-casse;
                        text-decoration: none;
                        font-weight: bold;
                        @include font-size(l);//utilisation de typey

                    }
                    span{
                        color: $blanc-casse;
                        @include txt-cesure();
                        display: inline-block;
                        /*float: left;*/


                    }
                    div{
                        position: relative;
                        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                            max-width: 70%;
                            float: left;
                            content: "";

                        }
                        a{
                            &:before{

                                @include image-overlay('PNG/motif_img_overlay.png', 0 0, repeat);

                            }


                        }

                    }

                }
            }
            ul.acces-contenu-lycees,ul.acces-contenu-international{
                span{
                    @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
                        @include font-size(xs);//utilisation de typey
                    }

                    @include breakpoint($desktop){
                        @include font-size(xs);//utilisation de typey
                    }
                    @include breakpoint($desktopwide){
                        font-size: 0.9em;
                    }
                }
                span.ville{
                    text-transform: uppercase;
                    @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){}

                    @include breakpoint($desktop){}
                    @include breakpoint($desktopwide){
                        font-size: smaller;
                    }
                }
            }
        }
        .rubrique-association,.rubrique-international{
            ul{
                li{
                    list-style: none;
                    background: $orange-fonce;
                    @include txt-cesure();
                    @include txt-colonnes();
                }
                a{
                    color: $blanc-casse;
                    text-decoration: none;
                    font-weight: bold;
                    @include font-size(l);//utilisation de typey
                    @include txt-ellipse();
                    @include txt-cesure();

                    display: block;
                }

                span{
                    color: $blanc-casse;
                    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){

                        /*padding: span(0.1);*/
                        display: inline-block;
                        @include txt-cesure();
                        /*float: left;*/
                    }
                }
                img{
                    &:hover{

                    }
                }
                //Float de la div contenant l'image,structure HTML différente de page lycées
                li > div{
                    position: relative;
                    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                        float: right;
                        padding: 0;
                        max-width: 70%;
                    }
                    a {
                        &:before{

                            @include image-overlay('PNG/motif_img_overlay.png', 0 0, repeat);
                            @include adaptable-img;
                        }
                        &:hover{
                            background: none;
                        }
                    }
                }
            }
        }
   .rubrique-international{
       //réglages différents pour page Europe/International
       ul.acces-contenu-international{
                span{
                    @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
                        @include font-size(xs);//utilisation de typey
                    }

                    @include breakpoint($desktop){
                        @include font-size(xs);//utilisation de typey
                    }
                    @include breakpoint($desktopwide){
                        font-size: 0.9em;
                    }
                }
       }
            ul{
                li{
                    background: $bleu-turquoise;
                }
            }
        }
        //**** liste contenu alternance ***//


        ul.acces-contenus-alternance{
            //classes dynamique attribuées dans la vue
            li.page-offre-contrat-pro{
                background: $gris-anthracite;
            }
            li.page-bts{}
        }

    }

    //Style propre pour listes espace entreprise
    .nav-espace-entreprise{
      a{
        display: block;// recouvre l'image
      }
    }
    .espace-accueillir-jeune,.espace-devenir-partenaire,.espace-taxe-apprentissage,.espace-vie-lycees{
      ul{

            li{
                 list-style: none;
                 margin:0 0 span(0.01) span(0.1);
                a{
                    text-decoration: none;
                    color:$gris-anthracite;
                    font-size: large;
                    display:block;
                    padding: span(0.1);
                   // &:hover{color: inherit;}
                    @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)){
                        @include font-size(xs);//utilisation de typey
                    }
                }
            }
        }
    }
    .espace-devenir-partenaire,.espace-taxe-apprentissage{
        ul{

            li{

                a{
                    background:$gris-clair;
                    color: $orange-fonce;
                        &:hover{color: $gris-anthracite;}
                }
                         //Ciblage du lien concernant les UAI pour mise en avant
                    a[href*="uai"]{
                        background:$orange-fonce;
                        color: $gris-clair;
                        @include clignote(1.8s);
                        &:hover{

                        }
                    }
            }
        }
    }
    .espace-accueillir-jeune, .espace-vie-lycees{
        ul{

            li{

                a{
                     color:$gris-clair;

                     background:$gris-clair-moyen;
                    &:hover{color: $orange-fonce;}
                }
            }
        }
    }


    //Style page Espace Partenaire
    aside.espace-partenaire{
        border-bottom: em(5px) $orange-fonce dotted;
        h2,h3{
            color: $rose-fushia;
        @include font-size(l);//utilisation de typey
        }
        ul{
            li{
                  background: $gris-clair;

                &:hover{
                    @include ombrage-bloc(0,0,1em);
                }
            }
        }
    }

     .content{
            h2:first-child{
                /*&:not(.offre-titre){*/
                /*position:relative;*/
/*-- Mise en avant du lien vers les numéros UAI sous l'illustration pour résoudre problème des écrans trop petits'*/
                a[href*="node"]{
                    display: block;
                    position: relative;
                    transform: rotate(-4deg);
                    color: $jaune;
                    background: $gris-anthracite;
                    padding: span(0.01);
                    margin: em(5px) 10vw;
                    /*max-width: fit-content;*/
                    max-width: 20%;
                    text-decoration: none;
                    @include clignote(3s);

                    //Effet coin retourné
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        border-width: 0 em(10px) em(10px) 0;
                        border-style: solid;
                        border-color: $orange-fonce ;
                    }

                }
            }
        }
      } // Fin ##{$zone}.#{$type}
      }// Fin @each $type in $typedecontenu
      } // Fin @each $zone in $zones
