// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _CONTENT-TYPE.scss et les importer dans application.scss
/*-------------------------------------|
|       CONTENU CUSTOM               |
|               NODE.TPL                      |
|               MON TYPE                      |
|--------------------------------------*/
//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}
//Ressources sur Attributs et PseudoElements
// https://tympanus.net/codrops/2013/07/05/using-custom-data-attributes-and-pseudo-elements/
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex {
  #zone-1.type-page-recrutement {
    order: 1;
  }

  #zone-2.type-page-recrutement {
    order: 2;
  }

  #zone-3.type-page-recrutement {
    order: 3;
  }

  #zone-4.type-page-recrutement {}

  #zone-5.type-page-recrutement {}
  @include breakpoint ($desktop) {}
}
/*######-------- ||| BORDURES ||| --------######*/
body .conteneur,
body .conteneur .conteneur-flex {
  @include breakpoint(($desktop,$tablet)) {}
}
/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-page-recrutement {
  min-height: 35vw;
  max-height: 90vw;
  overflow: hidden;

  img {
    transform: translate(0%,0%);
  }
  @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
    min-height: 25vw;
    max-height: 30vw;

    img {
      transform: translate(0%,-10%);
    }
  }
}

#zone-1.type-page-recrutement {
  aside.offre-poste-enseignement {
    div.bef-select-as-radios {
      @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
        column-count: 4;
        column-fill: balance;
        white-space: normal;
        padding: span(0.02);
      }

      div.form-item {
        margin: 0 0 span(0.01);
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          @include txt-colonnes();
          padding: span(0.01);
        }
      }
    }

    .item-list {
      @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
        width: span(12);
        margin: 0 auto;
      }

      ul.liste-offre-poste-enseignement {
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          //Flex pour avoir classement horizontal
          display: flex;
          flex-wrap: wrap;
          padding: 0 0 0 span(0.8);
        }

        li {
          padding: 0;
          margin: span(0.1) 0;
          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
            /*@include hack-Edge;*/
            @include hack-IE;
            @include txt-colonnes();
            margin: 0 span(0.1) span(0.1) 0;
            display: inline-block;
            width: span(2.5);

            :not(img):not(a):not(.complement) {
              padding: span(0.1);
            }
          }

          a {
            display: block;
          }
        }
      }
      // Fin ul.liste-offre-poste-enseignement
    }
  }
  // aside.offre-poste-enseignement

  .docs-enseignant {
    .champ-field-fichier-joint {
      width: span(2.5);
      margin: 0 auto;
    }
  }
}
// Fin zone-1

#zone-2.type-page-recrutement {
  @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
    padding: span(0.1);
    margin: 0;

    #block-webform-client-block-68 {
      padding: span(0.1);
    }
  }
}
/*######-------- ||| STYLE ||| --------######*/
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
$typedecontenu: type-page-recrutement,type-TDC2,type-TDC3;
$zones: zone-1, zone-2,zone-3, zone-4,zone-5;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      li,
      p,
      ul {
        @include font-size(m); //utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
        list-style-position: inside;
      }

      u {
        font-weight: bold;
        color: $bleu-turquoise;
      }

      h2 {
        @include font-size(l); //utilisation de typey
        color: $orange-fonce;
      }

      h3 {
        @include font-size(m); //utilisation de typey
        color: $orange-fonce;
      }

      a {
        text-decoration: none;
        color: $orange-fonce;

        &:hover {
          text-decoration: underline;
        }
      }

      strong {
        color: $orange-fonce;
      }
    }
    //Fin ##{$zone}.#{$type}
  }
  // Fin @each $type
}
// Fin @each $zone
/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/
#zone-1.type-page-recrutement {
  //Lien vers les offres de postes
  h2:first-child {
    &:not(.offre-titre) {
      /*position:relative;*/
      a[href*="node"] {
        display: block;
        position: relative;
        transform: rotate(-4deg);
        color: $jaune;
        background: $gris-anthracite;
        padding: span(0.01);
        margin: em(5px) 10vw;
        /*max-width: fit-content;*/
        max-width: 45%;
        text-decoration: none;
        @include clignote(3s);
        //Effet coin retourné
        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          border-width: 0 em(10px) em(10px) 0;
          border-style: solid;
          border-color: $orange-fonce;
        }
      }
    }
  }

  .docs-enseignant {
    // Liste bloc_docs_utiles
    @include arrondis;
    @include backgroundImage(('zebra-gros-clair.gif'),transparent,top left,repeat);
    width: 90%;
    margin: span(0.1) auto;
    padding: span(0.1);

    li,
    ul {
      list-style: none;
    }

    img.filefield-icon {
      display: none;
      visibility: hidden;
    }

    a {
      display: block;
      margin: span(0.1) auto;
    }

    .champ-field-fichier-joint {
      background: $orange-fonce;
      display: block;
      text-align: center;
      color: $gris-clair;
      font-weight: bold;
      transform: rotate(-2deg);
    }

    a[type*="pdf"] {
      &::before {
        @include backgroundImage("PNG/Fichiers@3x.png");
        background-size: contain;
        content: "";
        position: relative;
        vertical-align: sub;
        padding: em(10px);
        margin: em(3px);
        transition: 0.5s all;
      }
    }
  }
  //Liste des offres de postes disponibles
  aside.offre-poste-enseignement {
    //Style éléments de la vue
    .view-header,
    h3 {
      padding: 0 span(0.1);
    }
    //Style du filtrage de la vue
    div.bef-select-as-radios {
      div.form-item {
        background: $orange-fonce;
        color: $blanc-casse;
        text-align: center;
        cursor: pointer;

        label {
          cursor: pointer;

          &:after {
            content: "Alternance";
            color: $orange-fonce;
            @include font-size(l); //utilisation de typey
            font-family: $FontRaleway;
          }
        }

        &:hover:not(#edit-term-node-tid-depth-limited-All-wrapper) {
          /*@include backgroundImage('bg_filtre_pole.png',center, no-repeat );*/
          background-size: 60%;
          background-color: $orange-fonce;

          label {
            @include opacity(0.45);
          }
        }

        &#edit-field-etat-poste-value-76-wrapper {
          border-top: 0.3em solid $vert;
        }

        &#edit-field-etat-poste-value-77-wrapper {
          border-top: 0.3em solid $orange;
        }

        &#edit-field-etat-poste-value-78-wrapper {
          border-top: 0.3em solid $rouge;
        }
      }
    }

    .views-exposed-form {
      //Masquer la roue bleue de drupal
      .ajax-progress-throbber {
        display: none;
      }

      .views-exposed-widget {
        padding: 0;
        margin: 0;
        float: none;
      }

      label {
        margin: 0 span(0.1);
      }
      //Style du bouton de filtrage
      .views-submit-button {
        float: none;
        margin: 0 auto;
        width: 25vw;
        padding: 0;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          width: 10vw;
        }

        input[type="submit"] {
          background: $orange-fonce;
          border: em(1px) dashed $gris-anthracite;
          color: $blanc-casse;
          @include font-size(l); //utilisation de typey
          font-family: $FontArvo;
        }
      }
    }
    //Masquage du module additionnel du module (bug peut être corrigé via patch)
    .view-filters {
      #edit-children-of-wrapper {
        display: none;
        visibility: hidden;
      }
    }

    ul.liste-offre-poste-enseignement {
      li {
        list-style: none;

        &.views-row-odd {
          color: $blanc-casse;
          background: $gris-anthracite;
        }

        &.views-row-even {
          color: $blanc-casse;
          background: $orange-fonce;
        }

        &.tid-76 {
          /*a pourvoir*/
          border-top: 0.3em solid $vert;
        }

        &.tid-77 {
          /*en cours*/
          border-top: 0.3em solid $orange;
        }

        &.tid-78 {
          /*pourvu*/
          border-top: 0.3em solid $rouge;
        }

        h2.offre-titre {
          a {
            @include txt-cesure;
            @include txt-ellipse;
            color: $gris-clair;

            &:hover {
              color: $gris-clair-moyen;
            }
          }
        }

        span {
          display: block;
          clear: top;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

#zone-2.type-page-recrutement {
  .postuler-poste-enseignement {
    //Formulaire
    background: $gris-clair;
    @include arrondis;
    padding: span(0.02);
  }
}

#zone-3.type-page-recrutement {}

#zone-4.type-page-recrutement {}

#zone-5.type-page-recrutement {}
