// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

/*-------------------------------------|
|       CONTENU CUSTOM              |
|               NODE.TPL                     |
|       CONTACT type-webform            |
|--------------------------------------*/

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){}

/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur .conteneur-flex{
    #zone-1.type-webform{order:1;}
    #zone-2.type-webform{order:2;}
    #zone-3.type-webform{order:3;}
    #zone-4.type-webform{}
    #zone-5.type-webform{}
    @include breakpoint ($desktop){}
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur .conteneur-flex,
body .conteneur{
    @include breakpoint(($desktop,$tablet)){
    }

}

/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
#zone-illustration.type-webform{
    min-height: 35vw;
    max-height: 90vw;
    overflow: hidden;

        @include backgroundImage('SVG/image_defaut_actu_2500.svg');
        @include background-size(cover);

    img{
        transform: translate(0%,0%);
    }
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        min-height: 25vw;
        max-height: 30vw;
        img{
            transform: translate(0%,-10%);
        }
    }
}
#zone-1.type-webform{
        a.retour-liste{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        padding: span(0.2);
        display: block;
        }
    }
}
/*######-------- ||| STYLE ||| --------######*/

/*¤¤¤ STYLES COMMUNS ¤¤¤*/
#zone-1.type-webform,
#zone-2.type-webform,
#zone-3.type-webform,
#zone-4.type-webform,
#zone-5.type-webform
{
     p,ul,li{
        @include font-size(m);//utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
    }
    u{
        font-weight: bold;
        color: $bleu-turquoise;
    }
    h2{
        @include font-size(l);//utilisation de typey
        color: $orange-fonce;
    }
    h3{
        @include font-size(m);//utilisation de typey
        color: $orange-fonce;
    }
    a{
        text-decoration: none;
        color: $orange-fonce;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
        color: $orange-fonce;
    }
}

/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

#zone-1.type-webform{
    /*---- STYLE ELEMENTS FORMULAIRE ----*/


form.type-webform-client-form{
        width: 75%;
        margin: span(0.1) auto;
        padding: span(0.1);
        @include arrondis(1.5em);
        @include backgroundImage("motif_img_overlay.png",0 0, repeat);

    label{font-size: smaller;}
    .type-webform-component{
        margin: 0;
        padding: 0;
    }
    input[type="text"],input[type="email"],input[type="submit"],select,textarea{
    width: 95%;margin: 0 auto;  display: block;
    }
    input[type="submit"]{
        width: 95%;margin: 0 auto;  display: block;
        @include txt-cesure;
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
        width: span(4);
        }
    }
    .form-item{margin-bottom: 0.5em;margin-top: 0.5em;}
}
}
#zone-2.type-webform{}
#zone-3.type-webform{}
#zone-4.type-webform{}
#zone-5.type-webform{}
