{#
/**
 * @file
 * Default theme implementation for the starter_d9_2022 structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - css: A list of CSS files for the current page.
 * - head: Markup for the HEAD element (including meta tags, keyword tags, and
 *   so on).
 * - head_title: A modified version of the page title, for use in the TITLE tag.
 * - head_title_array: List of text elements that make up the head_title
 *   variable. May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - styles: Style tags necessary to import all necessary CSS files in the head.
 * - scripts: Script tags necessary to load the JavaScript files and settings
 *   in the head.
 * - db_offline: A flag indicating if the database is offline.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
{% if ie_enabled_versions.ie8 %}
  {{- attach_library('starter_d9_2022/ie8') }}
{% endif %}
{% if ie_enabled_versions.ie9 or ie_enabled_versions.ie8 %}
  <!--[if lt IE 7]> <html{{ html_attributes.addClass('no-js', 'lt-ie9', 'lt-ie8', 'lt-ie7') }}><![endif]-->
  <!--[if IE 7]> <html{{ html_attributes.removeClass('lt-ie7') }}><![endif]-->
  <!--[if IE 8]> <html{{ html_attributes.removeClass('lt-ie8') }}><![endif]-->
  <!--[if gt IE 8]><!-->
  <html{{ html_attributes.removeclass('lt-ie9') }}>
    <!--<![endif]-->
  {% else -%}
    <html{{ html_attributes }}>
    {% endif %}

    {#<head> voir @inc_header.html.twig#}
    {% include directory ~ '/includes/inc_header.html.twig' %}

    <div id="skip">
      <a href="#main-menu" class="visually-hidden focusable skip-link">
        {{ 'Skip to main navigation'|t }}
      </a>
    </div>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <!-- ______________________ ACCES RUBRIQUES 3 _______________________ -->
    {# Ne pas afficher le bloc Contact en bas de page sur HP si besoin de le placer ailleurs
    variable is_front ajoutée dans le fichier .theme via preprocess.html
    05/2020: déplacement région sur HP, voir page--front.html.twig
    Choisir option selon mise en page choisi en commentant / décommentant
    #}
    {# {% if page.RubriquesHP3 is not empty and not is_front %} #}
    {% if page.RubriquesHP3 is not empty %}
      <div class="acces_rubriques">{{page.RubriquesHP3}}</div>
    {% endif %}
    <!-- _____ /ACCES RUBRIQUES 3 ____ -->

    <!-- ______________________ ACCES LOGOS PARTENAIRES _______________________ -->
    {% if page.LogoPart is not empty %}
      <div class="logo_partenaires">{{page.LogoPart}}</div>
    {% endif %}
    <!-- ___ /ACCES LOGOS PARTENAIRES ____ -->

    {#
Déplacement du bloc de chargement des JS du core Drupal et modules
dans le fichier libraries.yml du thème,chargement via placeholder
#}
    {% if browser_sync.enabled %}
      <script id="__bs_script__">
        document.write("<script async src='http://{{ browser_sync.host }}:{{ browser_sync.port }}/browser-sync/browser-sync-client.js'><\/script>".replace("HOST", location.hostname));
      </script>
    {% endif %}

    {% include directory ~ '/includes/inc_footer.html.twig' %}

    {# % include directory ~ '/includes/drupal_debug/inc_drupal_debug.html.twig' %#}

    {# IMPORTANT !! Toujours placer le chargment des JS du core et modules juste avant la fermeture du body !!!#}
    <js-bottom-placeholder token="{{ placeholder_token }}"></body>
  </html>